<p id="notice"><%= notice %></p>

<p>
  <strong>Activity category:</strong>
  <%= @asset_category_template.activity_category_id %>
</p>

<%= link_to 'Edit', edit_asset_category_template_path(@asset_category_template) %> |
<%= link_to 'Back', asset_category_templates_path %>
